#include <windows.h>
#include "resource.h"

DLG_MAIN DIALOGEX 6, 5, 320, 206

CAPTION "Char Developing v7"

FONT 8, "Tahoma"

STYLE 0x10CE0804

BEGIN
  CONTROL "" , IDC_EDIT_INPUT , "EDIT" , 0x10010000 , 10 , 40 , 120 , 14
  CONTROL "" , IDC_EDIT_INPUT2 , "EDIT", 0x10010000 , 10 , 100 , 120 , 14
  CONTROL "&Comando", IDC_BTN_TEST, "Button", 0x10010000, 50,  70, 46, 15
  CONTROL "&Agregar", IDC_BTN_QUIT, "Button", 0x10010000, 50, 120, 46, 15
  CONTROL "&Compilar", BTN_EJECUTAR, "Button",0x10010000, 200, 160, 46, 15
END
